<nav class="expanded">
  <img src="/assets/images/Logo.png" alt="Logo">
  <div class="button-group">
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url==item.link %}class="primary" {% endif %}>
      {{ item.name }}
    </a>
    {% endfor %}
  </div>
  <div class="button-group horizontal">
    {% for item in site.data.socials%}
    <a href="{{ item.link }}" class="icon">
      <img src="{{ item.icon }}" alt="{{ item.name }}">
    </a>
    {% endfor %}
  </div>
</nav>
