$primary:#ff6392;
$secondary:#f5cc33;
$tertiary:#68c7c1;
$light:#fdfaf2;
$neutral:#232323;
$dark:#323232;
$success:#afc768;
$warning:#f8b24b;
$error:#fc8b6f;
$info:#e59ec3;

@mixin rounded-full {
  border-radius: 999px;
}

@mixin rounded{
  border-radius: 24px;
}

@mixin border($color, $darkenBy) {
 border: 2px solid darken($color, $darkenBy);
}

@mixin variant($color, $darkenBy: 80%) {
  background-color: $color; 
  @include border($color, $darkenBy);
  color: darken($color, $darkenBy);
}

@mixin shadow {
  box-shadow: 4px 6px;
  margin-bottom: 6px;
  margin-right: 4px;
  
  &:hover{
    box-shadow: 0px 0px;
    translate: 4px 6px;
    transition: all 0.2s ease-in-out;
  }
}

@mixin button-style {
  padding: 0.5rem 4rem;
  @include rounded-full;
  @include variant($light); 
  font-size: 1.78rem;
  font-family: MuseoModerno;
  font-weight: 600;
  @include shadow;
  text-align: center;
  &.icon{
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center
  }
} 


.current {
  color: green;
}

.primary {
    @include variant($primary, 55%);
   
  }

.light {
  @include variant($light);
}

.card {
  @include shadow;
  @include variant($light);
  @include rounded;
  height: 300px;
  width: 300px;
}

.button-group { 
  gap: 12px;
  display: flex;
  flex-direction: column;
  &.horizontal {
    flex-direction: row;
  }
}



#content {
  overflow: auto;
}

nav {
  @include variant($light);
  position: sticky; 
  a {
    @include button-style;
    text-decoration: none;
    display: block;
  }
  &.expanded {
    width: 250px;
    height: calc(100vh-20px);
    margin: 10px 10px 10px 0px;
    border-radius: 0px 24px 24px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 0px;
    padding: 12px;
  }
     &.collapsed {
 
  }
}

h1 {
  font-size: 4.21rem;
  font-family: MuseoModerno;
  font-weight: 600;
}

h2 {
  font-size: 3.16rem;
  font-family: MuseoModerno;
  font-weight: 600;
}

h3 {
  font-size: 2.37rem;     
  font-family: MuseoModerno;
  font-weight: 600;
}

h4 {
  font-size: 1.78rem;
  font-family: MuseoModerno;
  font-weight: 600;
}

body {
  font-size: 1rem;
  font-family: "Shantell Sans";
  font-weight: 400;
  color: darken($light, 80%);
  margin: 0px;
  background-color: $light;
} 

main {
  display: flex;
  height: 100vh;
}

button {
  @include button-style;
}


